/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2016, 11:55:14 AM
    Author     : KINJA
*/

.text-center { text-align:  center;}
.text-right { text-align:  right;}
.text-left { text-align:  left;}
.hidden { display: none !important;}

input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control {
    line-height: 1.5;

}

.donut_key { }
.donut_key p span.color_key { 
    height: 18px; width: 10px;
    float: left;
    margin-right: 5px;
    background-color: #ccc;
}
.donut_key p{ padding: 0; margin: 0;}

.timeline-item.timeline-comment .timeline-desk { width: 100% }
.noresize { resize: none;}

.list-group-item.list_registers { border-left: none; border-right: none; border-radius: 0; border-bottom: 0;}


ul.category_tree { list-style: none; margin: 0; padding: 0; }
ul.category_tree li,
ul.category_tree ul { list-style: none; maborder-bottom: 1px  solid #eee;rgin: 0; padding: 0; margin-left: 12px; margin-top: 5px; }
ul.category_tree li { border-bottom: 1px  solid #eee; padding: 5px 0;}
ul.category_tree li:last-of-type { border-bottom: none; }
ul.category_tree li:first-of-type {  /*border-top: 1px  solid #eee;*/  }
ul.category_tree li i.fa { margin-right: 5px;}

